In [1]:
import sys
sys.path.append(r'C:\Users\sieme\OneDrive\Documenten\16. TA, Probabilistic Design\bivariate\src')

In [2]:
# import class_multivar
# import class_dataset
import bivariate

In [7]:
bivariate.class_dataset.Dataset?

Object `bivariate.class_dataset.Dataset` not found.

In [6]:
bivariate.class_multivar.Bivariate?

Init signature:
bivariate.class_multivar.Bivariate(
    RandomVariables: list,
    Family,
    Parameter_x=0,
)
Docstring:
Bivariate class for bivariate probabilistic analyses.

Designed for the course: MUDE and Probabilistic Design, Civil Engineering, TU Delft.
Init docstring:
Attributes of the Bivariate class.

Parameters
----------
RandomVariables : `list` of `objects`: scipy.stats.distributions.
    List of Random Variables
    Random Variables defined as object with scipy.stats.distributions.
Family : `str`    #rrrrrrrrrr is family the correct name?
    Types of supported bivariate copula:
    - Normal
    - Clayton
    - Independent
    - Can be extended to other copulas
Parameter_X : `float`     #rrrrrrrr What is this parameter?
    Description of `param3`.

Examples
--------
If one wants to create a bivariate distributions of:

.. math::
    RV_x1 ~ N(0,1)
    RV_x2 ~ N(0,1)
With a Normal copula with parameter 0.0

One can input:
>>> RandomVariables = [scipy.stats.norm(0,1), scipy.stats.norm(0,1)]
>>> Family = "Normal"
>>> Parameter_x = 0.0
>>> Bivariate(RandomVariables, Family, Parameter_x)
File:           c:\users\sieme\onedrive\documenten\16. ta, probabilistic design\bivariate\src\bivariate\class_multivar.py
Type:           type
Subclasses:

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel(r"C:\Users\sieme\OneDrive\Documenten\2493D~1.TUD\3F482~1.MAS\569DA~1.MUL\23DBA~1.PER\1A7CF~1.WEB\17D3D~1.CDE\2023-0~2.XLS")

In [ ]:
display(df)

        Unnamed: 0                Date  Water level (feet)
0                0 2023-08-28 23:00:00                6.69
1                1 2023-08-28 22:00:00                6.32
2                2 2023-08-28 21:00:00                5.74
3                3 2023-08-28 20:00:00                4.87
4                4 2023-08-28 19:00:00                4.05
...            ...                 ...                 ...
196019      196019 2001-01-01 04:00:00                2.93
196020      196020 2001-01-01 03:00:00                2.07
196021      196021 2001-01-01 02:00:00                1.23
196022      196022 2001-01-01 01:00:00                0.83
196023      196023 2001-01-01 00:00:00                0.99

[196024 rows x 3 columns]

In [ ]:
bivariate.class_dataset.Dataset(df, ['Date', 'Water level (feet)'], ['Date', 'Water level (feet)'])

AttributeError: module 'bivariate' has no attribute 'class_dataset'